@charset "UTF-8";


html {
    font-size: 100%;
}

.page-header {
    display: flex;
    background-color: #745024;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.titlelogo {
    color: #f4e4c1; 
    font-size: 20px;
    font-weight: bold;
}

.main-navbar {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #f4e4c1;
    font-size: 16px;
    transition: color 0.3s ease;
}

.main-navbar a:hover {
  color: #ffb347;
}

body {
    background-color:#FFEAC2 ;
    margin: 0%;
}

.works-container {
    display: grid;
    max-width: 700px;  
    margin: 0 ;
}

.work-card {
    width: 100%;
    background-color: #fff; 
    border-radius: 10px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.work_portfolio {
    width: 60%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}

.work_csv {
    width: 65%;
    height: 290px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}

.work_chat {
    width: 65%;
    height: 230px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}

.work_meisi {
    width: 65%;
    height: 270px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}

.work_egg {
    width: 45%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}

.work-section {
    font-size: 20px;
    margin-top: 10px;
    margin-top: 20px;
}

.work-sentense {
    font-size: 14px;
    margin: 10px 0;
}

.more-button {
    display: block;
    background-color: #A5E5BE;
    font-size: 15px;
    width: 70px;
    height: 50px;
    border-radius: 20px;
    margin: 20px auto;
    border: none;
    cursor: pointer;
}

.backtotop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none; /* 最初は非表示 */
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
}

.backtotop.show {
    display: flex;
    opacity: 1;
}

.url a {
    text-decoration: none;
    color: #f4e4c1;
    font-size: 16px;
    transition: color 0.3s ease;
}

.url a:hover {
  color: #ffb347;
}


.footer-page {
    display: flex;
    background-color: #745024;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.footer-sentense {
    color: #f4e4c1; 
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 700px) {

  /* header */
  .main-navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .titlelogo {
    font-size: 1.5rem;
    text-align: center;
  }

  /* 文字 */
  .welcome {
    font-size: 1.8rem;
    text-align: center;
  }

  .section {
    font-size: 1.3rem;
  }

  .sentense {
    font-size: 0.95rem;
    line-height: 1.7;
  }

  /* 余白調整 */
  .body {
    padding: 10px;
  }

  .more-button {
    text-align: center;
  }


}